{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form,null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form) }}
            {{ form_widget(form,{'attr':{'style': 'width:300px'} }) }}
            {% if form.vars.attr['data-help'] is defined
                and form.vars.attr['data-help'] !='' %}
                {% set content = form.vars.attr['data-help'] %}
                {{ block('tooltip') }}
            {% endif %}
            <div style="clear: both"></div>
        </div>
    {% endspaceless %}
{% endblock form_row %}
{% block tooltip %}
    <a href="javascript:" data-toggle="popover" class="help" data-content="{{ content }}" style="margin-left: 10px">
        <span class="glyphicon glyphicon-question-sign"></span>
    </a>
{% endblock tooltip %}
{% block choice_widget %}
    {% spaceless %}
            {% set attr = attr |merge({'class': 'populate placeholder select2-offscreen','style': 'width:300px'}) %}
            {{ block('choice_widget_collapsed') }}
    {% endspaceless %}
{% endblock %}
{% block dom_selector_row %}
    {% spaceless %}
        <fieldset>
            <legend>
                {{ form.vars.label }}
            </legend>
            <div class="form-group">
                {{ form_label(form.children.selectorValue,null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {% set attr = attr |merge({'style': 'width:300px'}) %}
                {{ form_widget(form.children.selectorValue) }}
                {% if form.vars.attr['data-help'] is defined
                    and form.vars.attr['data-help'] !='' %}
                    {% set content = form.vars.attr['data-help'] %}
                    {{ block('tooltip') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form_label(form.children.selectorType,null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {% set attr = attr |merge({'class': 'populate placeholder select2-offscreen','style': 'width:300px'}) %}
                {% set tooltip = true %}
                {{ form_widget(form.children.selectorType) }}
            </div>
        </fieldset>
    {% endspaceless %}
{% endblock %}
{% block entity_property_row %}
    {% spaceless %}
        <fieldset>
            <legend>
                {{ form.vars.label }}
            </legend>
            <div class="form-group">
                {{ form_widget(form.children.simple_props) }}
                {{ form_widget(form.children.reference_many_props) }}
                <ul id="props">

                </ul>
                {{ form_widget(form.children.add_simple_btn) }}
                {{ form_widget(form.children.add_rm_btn) }}
            </div>
        </fieldset>
    {% endspaceless %}
{% endblock %}